@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');

.heading,.stylish{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
}
#send{
    margin: 15px auto;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: greenyellow;
    padding: 10px;
}
#send:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 2%;
  padding-left: 9%;
  /* margin-left:  */
  margin-top: -2%;
  opacity: 0;
  transition: all 0.8s
}

#send:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(224, 11, 11);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(44, 172, 21) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader{
    margin: 30px auto;
    left: calc(50% - 32px);
    opacity: 1;
    transition: opacity 0.3s linear;
    position: absolute;
}
.hide{
    opacity:0;
}